.BlueBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8884;
  border-radius: 3px;
  background: rgb(142, 136, 132, 0.1);
  text-align: center;
  font-family: SF Pro Display;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 17px;
  cursor: pointer;

  @media screen and (max-width:950px) {
    padding: 10px;
  }
}