.BlueBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8884;
    border-radius: 5px;
    background: rgb(142, 136, 132, .1);
    text-align: center;
    font-family: SF Pro Display;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 17px;
    cursor: pointer;
}