.BlueBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  // border-radius: 5px;
  background: #0047ff;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 17px;

  @media screen and (max-width:950px) {
    padding: 10px;
  }
}