.BlueBtn {
    width: 100%;

    color: #FFF;
    border-radius: 5px;
    background: #0047FF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 17px;
}