.GlobalForm {
    &__list {
        margin-left: 24px;
        margin-right: 60px;
        margin-bottom: 39px;
        border-radius: 0px 0px 3px 3px;
        border: 1px solid rgba(72, 64, 56, 0.10);
        background: #FAFAFA;
    }
}